<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="eu.darken.mvpbakery.example"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="eu.darken.mvpbakery.example.FragmentTestActivity"/>
    </application>
</manifest>